@media screen and (max-width: 500px), (min-width: 701px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    body {
        background-color: green;
    }
}

@media screen and (width: 608px) {
    body {
        background-color: peru;
    }
}

@media screen and (width: 608px) {
    body {
        background-color: peru;
    }
}

@media screen and (orientation: landscape) {
    body {
        color: yellowgreen;
        background-color: black;
    }
}

@media screen and (orientation: portrait) {
    body {
        color: orange;
        background-color: brown;
    }
}